body{;margin: 0}
.top{background-color: #B1E1FF}
.a-cloud{position: relative; left: 730px;top: 70px}
.b-cloud{position: relative;top: 170px;left: 130px}
.land{position: relative;left: 50px;top:8px;height: 400px;width: 100%}
.mine{height: 100px;width: 100px;position: relative;left: 100px}
hr{border-color: grey;
  border-width: 10px;
     border-style: dotted none none;
 width: 10%;}
 .top{font-family: 'Caveat', cursive; font-size: 25px}
 .mid{font-family: 'Roboto Mono', monospace;}
.fire{position: relative; bottom: 100px;left: 200px}
.boy{position: relative; bottom: 170px;right: 500px}
.dab{position: relative; bottom: 70px;left: 200px
}
.a{height:200px;width: 200px;position: relative;;top: 210px}
.b{position:relative;right: 270px;top: -20px}
.c{position:relative; left: 270px;}
.d{position:relative; ;top: 200px}
.e{position:relative;top: 40px;right: 50px}
.table{position: relative;bottom: 360px;font-size: 20px}
.contact{background-color: #DEB6AB}
.end{font-family: 'Aboreto', cursive;}
